body{
  background-color: #E26A86;
}
.swiper {
    width: 80%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }